<.header>
  Would you like a Food Truck suggestion?
  <:actions>
    <.button phx-click="pick">Yes, I do!</.button>
  </:actions>
</.header>

<ul :if={@food_truck}>
  <li>Name: <%= @food_truck.name %></li>
  <li>Address: <%= @food_truck.address %></li>
  <li>Location: <%= @food_truck.location_description %></li>
  <ul>
    <%= for item <- @food_truck.items do %>
    <li><%= item %></li>
    <% end %>
  </ul>
</ul>
